#container{
    margin: auto;
    width: 600px;
    margin-top: 150px;
    text-align: center;
}
#question{
    margin-bottom: 30px;
}
#vote-count{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
#result-bar{
    display: flex;
    height: 30px;
    width: 100%;
    background-color: grey;
    line-height: 30px;
    margin-bottom: 20px;
}
#yes-part{
    width: 60%;
    background-color: green;
}
#no-part{
    width: calc( 100% - 60%);
    background-color: red;
}
#other-ques-btn{
    margin: auto;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #007bff;
    color: #007bff;
    font-size: 18px;
}
#other-ques-btn:hover{
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}